<div id="root">
  <div class="dialog">
<!--
  <stream-channel-list></stream-channel-list>
-->
  <stream-channel>
    <stream-channel-header></stream-channel-header>
    <stream-message-list>
      <ng-container *ngFor="let message of messages">
        <!-- Check message type (user or bot) and apply appropriate styles -->
        <div *ngIf="message.type === 'user'" class="user-message">{{ message.text }}</div>
        <div  >{{ message.text | json }}</div>
      </ng-container>
    </stream-message-list>
    <stream-notification-list></stream-notification-list>
    <stream-message-input></stream-message-input>
    <stream-thread name="thread">
      <stream-message-list mode="thread"></stream-message-list>
      <stream-message-input mode="thread"></stream-message-input>
    </stream-thread>
  </stream-channel>
</div>
</div>
