@import 'stream-chat-angular/src/assets/styles/v2/css/index.css';
/*here are accessed the classes of getstream io and the styling of demo.html*/
html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Prevent scrolling of the background */
}

#root {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.dialog {
  display: flex;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 960px;
  height: 80%;
  z-index: 1000;
  overflow: hidden;
}

stream-channel-list {
  flex: 0 0 30%;
}

stream-channel {
  flex: 1;
}

.str-chat__message-input .str-chat__message-input-inner .str-chat__file-input-container {
  display: none;
}


stream-thread {
  flex: 0 0 45%;
}
